* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primaryheader { 
    display: flex;
    flex-flow: row;
    background-color: white;
 
} 

.primaryheader img {
    width: 200px; 
    align-self: center;
  }  

.spaceView {
    flex: 1 1 auto;
} 

.primaryheader .registerbtn {
      color: #010e76;
      font-size: 20px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 20px;
      height: 40px;
      margin-right: 40px;
      border: 2px solid  #010e76;  
      align-self: center;   
  } 

.registerbtn:hover {
      background-color: #010e76;
      color: white;
  }  

.contactdetails {
    display: flex;
    flex-flow: column;  
    margin-right: 10px;
} 

.contactview { 
    flex: 1 1 auto;
    color: #010e76; 
    display: flex;
    justify-content: space-between;
}

.contactview .icons:hover {
    background-color: skyblue;
    color: black;
  } 

.callaction { 
     flex: 0 0 auto;
     height: 25px; 
} 

.secondaryheader { 
    background-color: #010e76;
}  

.textview { 
    padding: 60px;
    text-align: center;
} 

.connectbutton {
    color: white;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin: 10px; 
    background-color: #010e76;
    border: 2px solid  #010e76;  
    align-self: center;   
} 

.connectbutton:hover {  
    box-shadow: 5px 5px 15px 5px #010e76;
    background-color: transparent; 
    color: #010e76;
}   

.contactview {
    display: flex;
    flex-flow: row;
} 

.imgview img{  
    height: 600px;
    width: 500px;
} 

.detailsvies { 
    background-color: black;
} 

.contactdetails img {
    height: 300px;
    width: 200px;
} 

.empdetailsview {
        padding: 30px;
} 

.empdescription {
    margin-bottom: 40px;
    margin-top: 30px; 
    text-align: center; 
    border-right: 2px solid #010e76;
    border-bottom: 2px solid #010e76;
     
} 

.textcolor {
    color: #010e76;
} 

.empdesview { 
    text-align: center; 
    border-right: 2px solid #010e76;   
}

.footerview {
    padding-top: 30px;
}  

.summaryview {
    display: flex;
    flex-flow: row; 
    background-color: #010e76;
} 

.footercontact .icons {
    margin-left: 5px;
} 

.footercontact .icons:hover {
    background-color: skyblue;
    color: black;
} 

.contactlist {
    font-size: 20px; 
    margin-bottom: 10px;
   
} 

.contactlist a { 
    color: white;  
    text-decoration: none;
}

.footertext { 
    display: flex;
    flex-flow: row;
    background-color: white;
} 
