*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.logo-header {
    height: 100px;
    background-color: #f5f5f0;
}  

.logo-header img {
    float: left;
    width: 150px;
    height: 100px;
  } 

.logo-header .registerbtn {
      float: right;
      color: blue;
      font-size: 20px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 20px;
      margin-top: 10px;
      margin-right: 400px;
      border: 2px solid  blue;  
      
  } 

.registerbtn:hover {
      background-color: blue;
      color: white;
  } 

.logo-header .icons { 
    float: right; 
    font-size: 30px;
    
} 

.callaction {
    float: right;
    padding: 60px;
}

#addAction {
    background-color: blue;
}   

.text {
    text-align: center;
    font-size: 35px;
    padding-top: 40px; 
    padding-bottom: 40px;
    color: white;
    background-color: #ff6600;
} 

.introduction {
    text-align: center;
    color: gray;
   padding: 50px;
    background-color: white;
} 

.leftimgText {  
    background-color: #f5f5f0;
} 

.rightimagcontainer img {
    margin: 30px;
    height: 300px;
    width: 100%;
} 

.lefttextcontainer h1 {
    margin: 30px;
}

.rightimgText {
    
    background-color: white;
    
} 

.leftimagcontainer img {
    margin: 30px;
    height: 300px;
    width: 100%;
} 

.righttextcontainer h1 {
    margin: 30px;
} 

.righttextcontainer p {
    margin: 30px;
}

.contentview { 
    margin-top: 20px;
    background-color: black;
} 

.productdetails {
    background-color: black;
} 

.productcommunity {
    background-color: black;
} 

.producttechnology {
    background-color: black;
} 

.projectsno { 
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: black;
}

.projectsdelivered {
    color: white;
    font-size: 20px;
    background-color: black;
} 

.projectdescription {
    color: white;
    background-color: black;
} 

